
html, body {
    margin: 0;
    height: 100vh;
    width:100vw;
    padding:0;
    overflow:auto;
    user-select: none;
    
}
/* body{

    /* background:url("../res/back5.jpg") center no-repeat; */
    /* background-size:cover; */
    

.background{
    position: relative;
    height: 100%;
    width:100%;
    margin:0;
    padding:0;
    background:url("../res/back3.png") center no-repeat;
    background-size:cover;
    /* overflow: hidden; */
}
h1 {
    margin-top: 0;
}
/* html { margin-top: 32px !important; } */
.topnav{
    position: sticky;
    margin:0;
    /* margin-top: -32px; */
    background-color:white;
    top:0;
    padding:0;
    width: 100%;
    height:7%;
    z-index: 10;
    box-shadow: 2px 2px 7px rgb(80, 69, 236);
    /* border:1px solid black; */
}
.links{
    padding: 0;
    margin:0;
    list-style-type: none;
    position: absolute;
    width:60%;
    height:100%;
    right:10px;
    top:0;
  

    
}
.links li{
    float:right;
    width:13%;
    text-align:center;
    margin:0;
    /* font-weight:bold; */
    color:#1D1D2C;
    height: 100%;
    /* border:1px solid white; */
}

.links li::before{
  content:"";
  display: block;
  height: 30%;
}
#main-title::before {
    content:"";
    display: block;
    height: 15%;
  }



/* .links li::after{
    position: absolute;
    content:"";
    display: block;
    width:100%;
    height:5%;
    background-color: aqua;
    top:95%;
} */
.links li a{
    color:#1D1D2C;
    
}

a{
    text-decoration:none;
    color:black;
}
.links li:hover{
   cursor: pointer;
   /* color:black; */
   /* color : white; */
   /* text-decoration:underline; */
   font-size:1.05em;
}
#main-title{
    position: absolute;
    margin:0;
    padding:0;
    height:100%;
    width:30%;
    left:7%;
    text-align: center;
    color:#1D1D2C;
    
}




.main-content{
margin:0;
padding:0;
width:100%; 
position: relative;
top:13%;

}
.user{
    position: relative;
}
.user-drpdn{
    position: absolute;
    width:140%;
    top:100%; 
    /* left:-20%; */
    background-color: white;
    z-index: 10;
    margin:0;
    padding:0;
    height:200%;
    list-style-type: none;
    display:none;
    box-shadow: -2px 2px 5px rgb(167, 164, 164);
    /* border: 0.1px solid rgb(167, 165, 165); */

}
.user:hover .user-drpdn{
    display: block;
}

.user-drpdn li{
    position: relative;
    height:50%;
    width:100%;
    /* padding:5%; */
    left:0;
    float:none;
    text-align: center;
   
    color:black;
    /* background:linear-gradient(to bottom,white,rgb(238, 234, 234)) */
    border-bottom: 0.1px solid rgb(230, 228, 228);
    /* font-size: 1.2em; */
    /* display: block; */
    

}
.user-drpdn li::before{
    content: "";
    display: block;
    height: 30%;
}
.user-drpdn li:hover{
    cursor:pointer;
    /* background-color: #3c3c5f; */
    /* color: white; */
    /* transform:translate(1.5px,1.5px); */
    /* font-size:1.05em;
    font-weight: bold; */
}
/* .user-drpdn li:hover #logout{
  color: white;
} */
#logout{
    color:black;
}
#logout:hover{
    color:black;
    font-size:1.05em;
}
.flash-messages{
    position: absolute;
    top:50px;
    left:35%;
    
    /* width:300px; */
    /* height: 100px; */
    /* background-color: aqua; */
    z-index: 99;
    
}
.mes{
    /* position: relative; */
    /* width:100%; */
    margin:0;
    list-style-type: none;
}
.mes li{
    height: 100px;
    padding:20px;
    box-shadow: 2px 2px 10px rgb(63, 61, 61);
   
}
.mes-img{
    position: relative;
    display: block;
    left:40%;
    margin-top:10px;

}
/* .mes li::before{
    display: block;
    content:"";
    height: 40%;
} */
.error,.success{
    /* border:0.5px solid red; */
    color:red;
    /* font-size:1.5rem; */
    font-weight: bold; 
    background-color:white;

}
.success{
    /* background-color:green; */
    /* border:0.5px solid green; */
    color:green;
    /* background-attachment: rgb(228, 247, 228); */
    /* background-color:white; */
}
/* .mes li{
    height:200px;
    width:300px; */
    /* text-align:center;
} */
/* .mes li::before{
    display: block;
    content:"";
    height:20%;
} */
#signin,#signup{
    position: absolute;
    top:50%;
    left:65%;   
    display: inline-block;
    width:15%;
    height:10%;
   
    background-color: white;
    color: #1D1D2C;
    border-radius: 5%;
    font-size:2.5rem;
    /* font-weight: bold; */

    box-shadow:-2px -2px 7px 1px #1D1D2C;
    text-align: center;
    overflow: hidden;
}
#signin::before,#signup::before{
    display: block;
    content:"";
    height:15%;

}
#signin:hover{
    box-shadow: none;
    /* font-size:1.7em; */
}
#signin #signintext{
    position:absolute;
    height:30%;
    left:20%;
    transition:all 300ms ease-in-out;
}
#arrow{
    position:absolute;
    left:-30%;
    top:10%;
    transition: all 300ms ease-in-out;
}
#signin:hover #signintext{
    left:40%;

}
#signin:hover #arrow{
    left:10%;
}
#about{
    /* top:70%; */
    left:10px;
    padding:15px;
    /* width:70%; */
    /* height:100%; */
    color:grey;
    font-size:1.2rem;
    /* background-color:rgb(7, 7, 7,0.5); */
    

}



