ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}
.questions{
    position: relative;
    height:100%;
    top:20%;
    /* border:0.5px solid grey; */
    /* background-color: red; */
}
.question-list-wrapper{
    position: relative;
    left:20%;
    top:20%;
    width:60%;
    height: 100%;
  
    /* background-color: black; */
    /* color:white; */
    /* height:100%; */
}

.question-filter{
    position: relative;
    left:20%;
    color:white;
    margin-bottom:0;
    background: linear-gradient(to bottom,rgb(137, 137, 238),rgb(92, 92, 233));
    /* top:20%; */
    width:48%;
    /* border-radius:5%; */
}
#question-search,#question-company,#question-topic{
    margin:10px;
    margin-right:20px;
}
.question-page{
    position: relative;
    top:0%;
    left:0%;
    width:80%;
    height:90%;
    border:0.1px solid rgb(221, 219, 219);
    box-shadow:1px 1px 7px grey;
    /* background-color:yellow; */
    /* background-color:red; */

}
.question-page li{
    position:relative;
    width:100%;
    height:10%;
    border-bottom:0.1px solid grey;
    /* background-color: yellow; */
    transition:all 300ms ease-in-out;
}

.question-page li span::before{
    display:block;
    content:"";
    height:30%;
}
.question-page li:hover{
    transform:translate(1px,-1px);
    box-shadow: -2px -2px 6px rgb(110, 110, 247);
}
#qlist-title span{
    text-align:center;
    font-weight:bold;

}
#qlist-title:hover{
    box-shadow:none;
    transform:none;
}
#qlist-title span::before{
    display: block;
    content:"";
    height:25%;
}
.question-page li:nth-child(even){
    background-color:rgb(248, 244, 244);
}
.question-page li:nth-child(odd){
    background-color:white;
}
.question-page li span{
    border-left:0.5px solid rgb(199, 196, 196);
}
.question-page li .slno{
    position: absolute;
    width:10%;
    /* background-color:yellow; */
    height: 100%;
    text-align: center;
  

}
.question-page li .title{
    position: absolute;
    width:60%;
    left:10%;
    height:100%;
    /* background-color:red; */
    padding-left:5px; 
    /* color:rgb(66, 66, 250); */
  


}
.question-page li .difficulty{
    position: absolute;
    left:70%;
    width:21%;
    text-align: center;
    /* background-color:green; */
    height: 100%;
    

}
.question-page li .solution{
    position: absolute;
    left:91%;
    width:9%;
 
    height: 100%;
}
.tag{
    position: relative;
    display: inline-block;
    background:white;
    color:rgb(4, 4, 29);
    border:none;
    outline: none;
    width:70px;
    height:30px;
    border-radius:15px;
    padding:2px;
    text-align: center;
    /* margin-left:50px; */
    margin:10px;
    /* box-shadow:1px 1px 5px white; */
    

}
.tag::before{
    display:block;
    content:"";
    height:15%;
}
#filter{
    position: relative;
    background:white;
    color:rgb(4, 4, 29);
    border:none;
    outline: none;
    width:70px;
    height:30px;
    border-radius:15px;
    margin-left:50px;
    box-shadow:1px 1px 5px white;
}
#filter:hover{
    box-shadow:none;
}
.page-navigate{
    position: relative;
    /* top:100%; */
    /* left:20%; */
    width:80%;
    height:5%;
    /* margin-top:3px; */
    /* margin:3; */
    /* background-color:rgb(224, 222, 222); */
    user-select: none;


}
.page-navigate::before{
    display: block;
    content:"";
    height:25%;
}
.page-navigate span{
    /* display: inline-block; */
    float:right;
    margin:10px,1px;
    /* top:10%; */
    width:30px;
    height:20px;
    font-size:1.2rem;
    background:linear-gradient(to bottom,blue,rgb(107, 107, 226));

    color:white;
    text-align: center;
    transition: all 300ms ease-in-out;
    padding:1px;
    font-weight: bold;
    border-radius: 18px;
    font-family:'Courier New', Courier, monospace;
    /* border:0.1px solid white; */
    /* font-weight: bold; */
    
    
}
#pre-page:hover,#next-page:hover{
    cursor:pointer;
    font-weight: bold;
    /* font-size: 1.3rem; */
    height:22px;
    box-shadow:1px 1px 3px grey;
    
}

