<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="{{ url_for('static',filename = './css/base.css')}}">
    
    <title>Home</title>
</head>
<body>
 
    <div class="topnav">
    <h1 id = "main-title">Question Analyzer</h1>
    <ul class = "links">
   <!-- <li><a href="{{ url_for('signup')}}">sign up</a></li> -->
   <!-- {% if current_user.is_anonymous%}

    <li><a href="{{url_for('login')}}">sign in</a></li> 
   
    {%endif%} -->
    <li>
      <a href="{{url_for('admin_login')}}">admin</a>
    </li>
    <li>
    <a href="{{url_for('mock_interview',name=current_user.username)}}
    " onclick="
      event.preventDefault();
      window.open(this.href,'Mock Test','width=700px,height=700px,location=no');
    ">
    mock interview</a>
    <li>
      <a href="{{url_for('home')}}">Home</a>
    </li>
    </li>
    {% if not current_user.is_anonymous%}
    <li class = "user"> {{current_user.firstname}} 
        <ul class = "user-drpdn">
            <li>profile</li>
            <li><a href="{{ url_for('logout')}}" id = "logout">log out</a></li>
        </ul>
        
    </li>
    {%endif%}
    </ul>
    </div>
    <div class = "flash-messages">
    {%with messages = get_flashed_messages(with_categories = true)%}
    {%if messages %}
    <ul class = "mes">
    {%for category,message in messages%}
      <li class = "{{category}}"> <span class="mes-img"><img src="{{url_for('static',filename = '/res/'+category+'.png')}}" alt=""></span>{{ message }}</li>
    {%endfor%}
    {%endif%}
    </ul>
    {%endwith%}
  </div>
    {% if current_user.is_anonymous%}
       <div class="background">
      {%block initial%}
      <p id = "about">
        
      </p>
   <!-- <span><a href="{{ url_for('signup')}}" id="signup">sign up</a></span> -->
   <span>
   
     <a href="{{url_for('login')}}" id = "signin">
      <span id = "arrow">
        <img src="{{url_for('static',filename='./res/arrow6.png')}}"> 
      </span>
    
    <span id = "signintext">
      Sign in
    </span></a></span>
   
      {%endblock initial%}
      </div>

    {% else %}
    <div class = "main-content">
    {%block content%}
      
    {%endblock content%}

    </div>
    {%endif%}
    <script src="{{url_for('static',filename = 'lib/jquery.min.js')}}"></script>
    <script>
      var messages=document.querySelector('.mes')
      if(messages){
        
        
         setTimeout(()=>{
                messages.style.display = "none";
         },3000)
        
      }
      var mainContent = document.querySelector('.main-content');
      if(mainContent){
        document.querySelector('body').style.background = 'url("../static/res/codingback.jpg") center no-repeat fixed';
        document.querySelector('body').style.backgroundSize = 'cover';
      }
    </script>
</body>
</html>