<link rel="stylesheet" href="{{ url_for('static',filename = './css/home.css')}}">
{%- extends 'base.htm' -%}
{%block content%}
    <div class = "questions">
    <div class = "question-filter">
      <form action="{{url_for('home')}}" method="POST">
      <input type="text" name="search" id="question-search">
      company:
      <select name="company" id="question-company">
        <option value = ""> -- select an option -- </option>
        {%for company in companies%}
        <option value="{{company.name}}">{{company.name}}</option>
        {%endfor%}
      </select>
      topic:
      <select name="topic" id="question-topic">
        <option value=""> -- select an option -- </option>
        {%for topic in topics%}
        <option value="{{topic.name}}">{{topic.name}}</option>
        {%endfor%}
      </select>
      <input type="submit" value="apply">
      <span>
        <!-- {%if ctg!= ""%} -->
           {{ctg}}
        <!-- {%endif%} -->
        </span>
      <span>
        <!-- {% if ttg!= ""%} -->
           {{ttg}}
        <!-- {%endif%} -->
      </span>

      </form>
    </div>
    <div class = "question-list">
    <ul class = "question-list-before" style = "display:none">
        {%for question in questions%}
            
          <li>
            <a href="{{url_for('problem',id = question.id)}}"> {{question.title}} </a>
          </li>
        {%endfor%}
      </ul>
    <div class = "question-list-wrapper">
     <ul class="question-list-after">
      
     </ul>
    
    </div>
    <div class="page-navigate">
      <span id= "pre-page"><</span><span id="page-no"></span><span id = "next-page">></span>
     
    </div>
    </div>
<script src="{{url_for("static",filename = "./js/home.js")}}"></script>
</div>
{%endblock content%} 

