<link rel="stylesheet" href="{{ url_for('static',filename = './css/signup.css')}}">
{%- extends 'base.htm' -%}
{%block initial%}

<form action="{{url_for('login')}}" method = "POST" novalidate class = "page-form" >
    {{ form.hidden_tag()}}
    <h2 id = "form-heading"> Sign In</h2>
    <p>
        <!-- {{form.username.label}} -->
        {{form.username(placeholder="username")}}

    </p>
    <p>
        <!-- {{ form.password.label}} -->
        {{form.password(placeholder="password")}}
    </p>
    {{ form.submit(id = "submit")}}
</form>
{%endblock initial%} 

