<link rel="stylesheet" href="{{ url_for('static',filename = './css/signup.css')}}">

{%- extends 'base.htm' -%}
{%block initial%}

<form action="{{ url_for('signup')}}" method="POST" novalidate
class = "page-form">
    {{ form.hidden_tag()}}
    <h2 id = "form-heading"> Sign Up</h2>
    <div class = "form-content">
    <p>
        <!-- {{ form.firstname.label}} -->
        <!-- <span class = "border">firstname</span> -->
        {{ form.firstname(size = 30,placeholder = "firstname")}}<br/>
        {% for error in form.firstname.errors%}
          <span class='er'> {{error}}</span>
        {%endfor%}
    </p>
    <p>
        <!-- {{ form.lastname.label}} -->
        {{ form.lastname(size = 30,placeholder="lastname")}}<br/>
        {% for error in form.lastname.errors%}
          <span class='er'> {{error}}</span>
        {%endfor%}
    </p>
    <p>
      <!-- {{ form.username.label}} -->
      {{ form.username(size = 30,placeholder="username")}}<br/>
      {% for error in form.username.errors%}
        <span class='er'> {{error}}</span>
      {%endfor%}
  </p>
    <p>
        <!-- {{ form.email.label}} -->
        {{ form.email(size=30,placeholder="email")}}<br/>
        {% for error in form.email.errors%}
          <span class='er'> {{error}}</span>
        {%endfor%}
    </p>
    <p>
        <!-- {{ form.password.label}} -->
        {{ form.password(size = 30,placeholder="password")}}<br/>
        {% for error in form.password.errors%}
          <span class='er'> {{error}}</span>
        {%endfor%}
    </p>
    <p>
        <!-- {{ form.confirm.label}} -->
        {{ form.confirm(size = 30,placeholder="confirm password")}}</br>
        {% for error in form.confirm.errors%} 
          <span class='er'> {{error}}</span>
        {%endfor%}
    </p>
   
    {{ form.submit(id = "submit") }}
    <p style = "position: relative;left:10%"> Already have an account 
      <a style="color:blue" href = "{{url_for('login')}}">sign in</a></p> 
    </div>
</form>

{%endblock initial%} 

